
.fade-enter, .fade-leave-to
  opacity 0
  transform translateX(3px)
.fade-enter-active, .fade-leave-active
  transition all 0.3s
.article-wrap
  display flex
  justify-content space-between
  width 90%
  margin 0 auto
.article-left-width
  width 18%
  border 1px solid #f3f3f3
.hot-article
  height 40px
  line-height 40px
  margin-bottom 1px
  background #f3f3f3
  font-size 20px
  text-align center
  overflow hidden
  color rgb(102, 102, 102)
.hot-article-title
  width 100%
  text-align center
.showArticle
  display none
  width 67px
  color #f2f2f2
  font-size 14px
.article-size
  display inline-block
  min-height 5px
.articleListUl
  flex-wrap wrap
.articleList
  min-height 30px
  line-height 30px
  padding-left 20px
  // font-style italic
  // text-decoration underline
  color rgb(67, 67, 215)
  cursor pointer
  border-bottom 1px solid #f2f2f2
.articleList:hover
  background #f2f2f2
.godColor
  color red
.article-right-width
  display flex
  width 81%
  padding 0 2% 2% 2%
  border-radius 12px
  flex-direction column
  flex-wrap wrap
.article-right-boxshadow
  box-shadow 1px 1px 7px #888888
.questions
  min-height 50px
  line-height 50px
  background #222222
  padding 0 15px
  border-radius 5px
  font-size 16px
  color #f2f2f2
.questionImgWrap
  line-height 0px
  margin 0px 0px 0px 5px
  padding 0px
  overflow hidden
.answer
  min-height 400px
  line-height 30px
  margin 0 5px 0 5px
  padding 10px 15px
  border-bottom-right-radius 4px
  border-bottom-left-radius 4px
  background white
  color #222
.answer p
  margin 15px 0 15px 0
.answer >>> .K_W
  display inline-block
  line-height 20px
  background pink
  border-radius 4px
  padding 1px 4px
  margin 0 4px
  color red
.answer >>> .K_W_C
  display inline-block
  line-height 20px
  padding 1px 4px
  margin 0 4px
  color #fb002e
.answer >>> .a_href
  // text-decoration underline
  color red
.answer-fontsize
  font-size 16px
  font-weight 900
.answerTitle
  // color red
.questionImg
  width auto
  max-width 95%
  height auto
.imgAnswe
  border-left 0.5rem solid #e7c000
  background rgba(255, 229, 100, 0.3)
  padding-left 5px
.answerExplanation
  border-left 0.5rem solid #42b983
  padding-left 5px
  background #f3f5f7
@media screen and (max-width: 675px)
  .article-wrap
    display block
    width 90%
    margin 0 auto
  .hot-article-title
    display inline-block
    width 80%
  .showArticle
    display inline-block
    width 16%
    float right
    background #222
    padding 0 1%
  .article-left-width
    width 100%
    height auto
    margin 5px 0
  .article-size
    display block
  .article-right-width
    width 100%
    margin 0
    padding 0
  .questionImgWrap
    overflow visible
    overflow-y scroll
    overflow-y hidden
    margin 0px
    .questionImg
      max-width 135%
      // overflow hidden