.top-nav-ul
  display flex
  flex-wrap nowrap
  justify-content space-between
  flex-shrink 1
  width 100%
  padding 5px 0
  background rgb(235, 234, 234)
.top-nav-ul-li
  display inline-block
  line-height 30px
  height 30px
  cursor pointer
  padding 0 15px
  border-bottom 1px solid rgba(185, 180, 180, 0.527)
  border-bottom-left-radius 4px
  margin 1px 5px
.github
  display inline-block
  width 30px
  height 30px
  box-shadow 0 2px 0
.level1
  background rgb(195, 195, 255)
  border 1px solid rgb(195, 195, 255)
  color white
.level1:nth-child(1)
  background rgba(126, 126, 231, 0.7)
  border 1px solid rgb(195, 195, 255)
  color white
  cursor auto
.level1:hover
  background rgb(195, 195, 225)
  transition all 0.3s
.level4
  background rgb(138, 179, 255)
  border 1px solid rgb(138, 179, 255)
  color white
.level4:hover
  background rgb(138, 179, 215)
  transition all 0.3s